{
    "days": [
        {
            "_id": "d01",
            "title": "Wednesday, 1st November 2017"
        },
        {
            "_id": "d02",
            "title": "Thursday, 2nd November 2017"
        },
        {
            "_id": "d03",
            "title": "Friday, 3rd November 2017"
        }
    ],
    "papers": [
        {
            "_id": "p12",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session13",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 40
        },
        {
            "_id": "p24",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session03",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p39",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session09",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p41",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session11",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 20
        },
        {
            "_id": "p43",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session09",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 20
        },
        {
            "_id": "p46",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session13",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 30
        },
        {
            "_id": "p51",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session11",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p53",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session10",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 40
        },
        {
            "_id": "p59",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session04",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p60",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session02",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 40
        },
        {
            "_id": "p61",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session04",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 20
        },
        {
            "_id": "p74",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session08",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 40
        },
        {
            "_id": "p75",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session01",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 30
        },
        {
            "_id": "p90",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session01",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p96",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session13",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 10
        },
        {
            "_id": "p99",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session02",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 30
        },
        {
            "_id": "p100",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session02",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p103",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session03",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 20
        },
        {
            "_id": "p106",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session01",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 20
        },
        {
            "_id": "p109",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session12",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 20
        },
        {
            "_id": "p111",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session07",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 30
        },
        {
            "_id": "p113",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session06",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 30
        },
        {
            "_id": "p132",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session13",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 20
        },
        {
            "_id": "p137",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session12",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 30
        },
        {
            "_id": "p145",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session11",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 30
        },
        {
            "_id": "p166",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session10",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 20
        },
        {
            "_id": "p174",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session09",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 30
        },
        {
            "_id": "p177",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session06",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 20
        },
        {
            "_id": "p182",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session02",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 20
        },
        {
            "_id": "p186",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session09",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 40
        },
        {
            "_id": "p187",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session08",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 20
        },
        {
            "_id": "p193",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session06",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p203",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session07",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 20
        },
        {
            "_id": "p215",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session12",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p217",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session08",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 30
        },
        {
            "_id": "p227",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session10",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p233",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session07",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p234",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session07",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 40
        },
        {
            "_id": "p235",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session10",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 30
        },
        {
            "_id": "p245",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session08",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 10
        },
        {
            "_id": "p253",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session06",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "short",
            "weight": 40
        },
        {
            "_id": "p255",
            "abstract": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum sed magna nec rutrum. Nunc fringilla urna vel ultricies hendrerit. Duis accumsan quam eget suscipit mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus ut neque porta blandit. Duis ultricies erat egestas velit lobortis mollis. Sed feugiat cursus sem. Suspendisse ut nunc ac arcu lacinia blandit. Nam ipsum nulla, dictum dignissim lectus quis, tincidunt euismod justo. Praesent porta maximus nulla quis lobortis. Donec blandit dignissim viverra. Nunc aliquet placerat elit, nec commodo diam vehicula eu. Vestibulum eget sapien sed tellus tristique efficitur nec nec neque. Nullam mollis, ex quis lacinia fermentum, libero lectus lacinia leo, nec eleifend metus elit ut orci. Aenean auctor urna quis ex pulvinar tincidunt. Maecenas erat nulla, mollis ac est id, pellentesque pellentesque sapien.",
            "artifact": "",
            "authors": [
                {
                    "affiliation": "Affiliation 1",
                    "name": "Author 1"
                },
                {
                    "affiliation": "Affiliation 2",
                    "name": "Author 2"
                },
                {
                    "affiliation": "Affiliation 3",
                    "name": "Author 3"
                }
            ],
            "pdf": "",
            "slides": "",
            "timeslot": "session08",
            "title": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...",
            "type": "long",
            "weight": 30
        }
    ],
    "timeslots": [
        {
            "day": "d01",
            "time_from": "09:00",
            "time_to": "09:30",
            "title": "Opening session",
            "type": "session_no_chair",
            "weight": 10
        },
        {
            "_id": "session01",
            "chair": "John Heidemann",
            "day": "d01",
            "time_from": "09:30",
            "time_to": "10:45",
            "title": "Inference",
            "type": "session",
            "weight": 20
        },
        {
            "day": "d01",
            "time_from": "10:45",
            "time_to": "11:15",
            "title": "Break",
            "type": "other",
            "weight": 30
        },
        {
            "_id": "session02",
            "chair": "Cristel Pelsser",
            "day": "d01",
            "time_from": "11:15",
            "time_to": "12:35",
            "title": "Congestion",
            "type": "session",
            "weight": 40
        },
        {
            "day": "d01",
            "time_from": "12:35",
            "time_to": "14:00",
            "title": "Lunch",
            "type": "other",
            "weight": 50
        },
        {
            "_id": "session03",
            "chair": "Roya Ensafi",
            "day": "d01",
            "time_from": "14:00",
            "time_to": "14:50",
            "title": "Denial",
            "type": "session",
            "weight": 60
        },
        {
            "_id": "session04",
            "chair": "Roya Ensafi",
            "day": "d01",
            "time_from": "14:50",
            "time_to": "15:40",
            "title": "Circumvention",
            "type": "session",
            "weight": 70
        },
        {
            "day": "d01",
            "time_from": "15:40",
            "time_to": "16:10",
            "title": "Break",
            "type": "other",
            "weight": 80
        },
        {
            "_id": "session05",
            "day": "d01",
            "page_url": "posters/",
            "time_from": "16:10",
            "time_to": "17:45",
            "title": "Posters",
            "type": "session_no_chair",
            "weight": 90
        },
        {
            "day": "d01",
            "page_url": "social-events/#imc-reception-small-1st-november-2017-18-00-20-00-small",
            "time_from": "18:00",
            "time_to": "20:00",
            "title": "Reception",
            "type": "other",
            "weight": 100
        },
        {
            "_id": "session06",
            "chair": "Andrew Moore",
            "day": "d02",
            "time_from": "09:00",
            "time_to": "10:30",
            "title": "Advertising",
            "type": "session",
            "weight": 10
        },
        {
            "day": "d02",
            "time_from": "10:30",
            "time_to": "11:00",
            "title": "Break",
            "type": "other",
            "weight": 20
        },
        {
            "_id": "session07",
            "chair": "Geoff Voelker",
            "day": "d02",
            "time_from": "11:00",
            "time_to": "12:30",
            "title": "Wireless",
            "type": "session",
            "weight": 30
        },
        {
            "day": "d02",
            "time_from": "12:30",
            "time_to": "13:55",
            "title": "Lunch",
            "type": "other",
            "weight": 40
        },
        {
            "_id": "session08",
            "chair": "Brian Trammell",
            "day": "d02",
            "time_from": "13:55",
            "time_to": "15:30",
            "title": "Methods",
            "type": "session",
            "weight": 50
        },
        {
            "day": "d02",
            "time_from": "15:30",
            "time_to": "16:00",
            "title": "Break",
            "type": "other",
            "weight": 60
        },
        {
            "_id": "session09",
            "chair": "Amogh Dhamdhere",
            "day": "d02",
            "time_from": "16:00",
            "time_to": "17:10",
            "title": "Protocols in the Wild",
            "type": "session",
            "weight": 70
        },
        {
            "day": "d02",
            "page_url": "social-events/#imc-banquet-small-2nd-november-2017-19-00-22-00-small",
            "time_from": "19:00",
            "time_to": "22:00",
            "title": "Banquet",
            "type": "other",
            "weight": 80
        },
        {
            "_id": "session10",
            "chair": "Zhiyun Qian",
            "day": "d03",
            "time_from": "09:00",
            "time_to": "10:40",
            "title": "Security",
            "type": "session",
            "weight": 10
        },
        {
            "day": "d03",
            "time_from": "10:40",
            "time_to": "11:10",
            "title": "Break",
            "type": "other",
            "weight": 20
        },
        {
            "_id": "session11",
            "chair": "Chadi Barakat",
            "day": "d03",
            "time_from": "11:10",
            "time_to": "12:15",
            "title": "Hot Topics",
            "type": "session",
            "weight": 30
        },
        {
            "day": "d03",
            "time_from": "12:15",
            "time_to": "13:45",
            "title": "Lunch",
            "type": "other",
            "weight": 40
        },
        {
            "_id": "session12",
            "chair": "Alan Mislove",
            "day": "d03",
            "time_from": "13:45",
            "time_to": "15:00",
            "title": "Abuse & Ethics",
            "type": "session",
            "weight": 50
        },
        {
            "day": "d03",
            "time_from": "15:00",
            "time_to": "15:30",
            "title": "Break",
            "type": "other",
            "weight": 60
        },
        {
            "_id": "session13",
            "chair": "David Choffnes",
            "day": "d03",
            "time_from": "15:30",
            "time_to": "16:40",
            "title": "Infrastructure",
            "type": "session",
            "weight": 70
        },
        {
            "day": "d03",
            "time_from": "16:40",
            "time_to": "16:50",
            "title": "Closing session",
            "type": "other",
            "weight": 80
        }
    ]
}
