<table class="table table-striped table-hover center-block">

<tr>
<td>Conference submission deadline</td>
<td><s>May 18th, 2017</s></td>
</tr>

<tr>
<td>Deadline to apply for Shadow PC</td>
<td><s>May 26th, 2017 (Midnight Pacific time)</s></td>
</tr>

<tr>
<td>Notification of acceptance</td>
<td><s>June 1st, 2017</s></td>
</tr>

<tr>
<td>Shadow review deadline</td>
<td><s>July 20th, 2017</s></td>
</tr>

<tr>
<td>Shadow discussion period</td>
<td><s>July 21-27th, 2017</s></td>
</tr>

<tr>
<td>Shadow PC meeting</td>
<td><s>July 28th, 2017</s></td>
</tr>

</table>
