<div class="well" style="text-align: center">
<a href="https://www.acm.org" target="blank" rel="noopener"><img class="img-responsive center-block logo" src="img/acm.png" alt="ACM"></a>
<a href="http://www.sigcomm.org" target="blank" rel="noopener"><img class="img-responsive center-block logo" src="img/sigcomm.png" alt="ACM Sigcomm"></a>
<a href="https://www.sigmetrics.org" target="blank" rel="noopener"><img class="img-responsive center-block logo" src="img/sigmetrics.png" alt="ACM Sigmetrics"></a>
</div>
