<div class="well text-center">
<a href="https://www.comcast.com" target="blank" rel="noopener"><img class="img-responsive logo" src="img/comcast.png" alt="Comcast"></a>
<a href="https://www.cisco.com" target="blank" rel="noopener"><img class="img-responsive logo" src="img/cisco.png" alt="Cisco"></a>
<a href="https://www.akamai.com" target="blank" rel="noopener"><img class="img-responsive logo" src="img/akamai.png" alt="Akamai"></a>
<a href="https://www.facebook.com" target="blank" rel="noopener"><img class="img-responsive logo" src="img/facebook.png" alt="Facebook" style="max-height: 120px;"></a>
</div>
