<div class="well text-center">
<a href="https://www.de-cix.net" target="blank" rel="noopener"><img class="img-responsive logo" src="img/decix.png" alt="DE-CIX"></a>
<a href="https://www.thousandeyes.com/" target="blank" rel="noopener"><img class="img-responsive logo" src="img/thousandeyes.png" alt="ThousandEyes" style="max-height: 110px;"></a>
<a href="https://www.mccormick.northwestern.edu/eecs/computer-science" target="blank" rel="noopener"><img class="img-responsive logo" src="img/nwe.png" alt="Northwestern McCormick School of Engineering Computer Science Division"></a>
</div>
